<div class="tab-pane fade active in" id="<!--{tab}-->" style="margin-top: 10px;">
	<div class="row">
		<div class="col-sm-2">
			<select id="daymoney_gameid" name="gameId" class="form-control">
				<!--{gameList}-->
				<option value="<!--{id}-->"><!--{name}--></option>
				<!--{/gameList}-->
			</select>
		</div>
		
		 <div class="col-sm-2">
			<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="daymoney_dtp_input1" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="<!--{date4}-->">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				<input type="hidden" id="daymoney_dtp_input1" value="<!--{date4}-->" />
            </div>
         </div>
         
         <div class="col-sm-2">
			<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="daymoney_dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="<!--{date3}-->">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				<input type="hidden" id="daymoney_dtp_input2" value="<!--{date3}-->" />
            </div>
         </div>
         <div class="col-sm-2">
			<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="daymoney_dtp_input3" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="<!--{date2}-->">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				<input type="hidden" id="daymoney_dtp_input3" value="<!--{date2}-->" />
            </div>
         </div>
         <div class="col-sm-2">
			<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="daymoney_dtp_input4" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="<!--{date1}-->">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				<input type="hidden" id="daymoney_dtp_input4" value="<!--{date1}-->" />
            </div>
         </div>
            <script type="text/javascript">
	           $('.form_date').datetimepicker({
	                language:  'es',
	                weekStart: 1,
	                todayBtn:  1,
		       		autoclose: 1,
		       		todayHighlight: 1,
		       		startView: 2,
		       		minView: 2,
		       		forceParse: 0
	           });
			</script>
		<div class="col-sm-2">
			<button onclick="get_data_daymoney()" type="button" class="btn btn-outline btn-default">查询</button>
		</div>
	</div>
	
	<br/>


	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				每日营收走势曲线
			</div>
			<div class="panel-body">
            	<div id="daymoney_morris-area-chart"></div>
			</div>
		</div>
	</div>


	<div class="row">
		
	</div>
</div>
<script>
/* Morris.Area({
    element: 'morris-area-chart',
    data:  <!--{morris_data}-->,
    xkey: 'post_time',
    ykeys: ['20151115mount', '20151116mount', '20151117mount'],
    labels: ['2015-11-15', '2015-11-16', '2015-11-17'],
    pointSize: 2,
    hideHover: 'auto',
    resize: true
}); */
get_data_daymoney();
function get_data_daymoney(){
	// 清空图表
	$('#daymoney_morris-area-chart').empty();
	
	var ykeys = get_daymoney_ykeys('ykeys');
	var labels = get_daymoney_ykeys('labels');
	
	$.ajax({
		type:"POST",
		url:"<!--{sroot}-->index.php/analysis/Daymoney/echoMorrisDate",
		data:{gid:$('#daymoney_gameid').val(), date1:$("#daymoney_dtp_input1").val(), date2:$("#daymoney_dtp_input2").val(), date3:$("#daymoney_dtp_input3").val(), date4:$("#daymoney_dtp_input4").val()},
		dataType:"json",
		async: false,
		success:function(data){
			// 数据必须先经过eval函数处理成json对象
			Morris.Line({
			    element: 'daymoney_morris-area-chart',
			    data:  data,
			    xkey: 'post_time',
			    ykeys: ykeys,
			    labels: labels,
			    pointSize: 2,
			    hideHover: 'auto',
			    resize: true
			});
			
    	}
	});
}
	// 获取ykesy或者labels
	function get_daymoney_ykeys(type){
		var obj = [];
		// 获取四个日期栏中的数据
		for ( var int = 0; int < 4; int++) {
			var dateVal = $("#daymoney_dtp_input" + (int + 1)).val();
			
			if (dateVal == '') {
				continue;
			}
			
			switch (type) {
				case 'ykeys':
					dateVal = dateVal.replace(new RegExp("-", 'g'), '');
					// 数组新增子集
					obj.push( dateVal + 'mount');
					break;
				case 'labels':
					obj.push(dateVal);
				default:
					break;
			}
			
		}
		return obj;
	}
</script>