<div class="tab-pane fade active in" id="<!--{tab}-->" style="margin-top: 10px;">
	<div class="row" id="agent_type_div_<!--{tab}-->">
		<div class="col-sm-2">
			<select id="agent_type_<!--{tab}-->" name="agent_type" class="form-control">
				<option value="2">二级渠道商</option>
				<option value="3">三级渠道商</option>
			</select>
		</div>
	</div>
	
	<br/>
	
	<div class="row" >
		<div class="col-sm-3">
			<input name="agent_id" class="form-control" placeholder="渠道id" type="text">	
		</div>
	</div>
	
	<br/>
	
	<div class="row" >
		<div class="col-sm-3">
			<input name="company_name" class="form-control" placeholder="公司名" type="text">	
		</div>
	</div>
	
	<br/>
	
	<div class="row" >
		<div class="col-sm-3">
			<input name="intoration" class="form-control" placeholder="分成比例" type="text" maxlength="2">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-3">
			<input name="password" class="form-control" placeholder="密码" type="password">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-3">
			<input name="rpassword" class="form-control" placeholder="确认密码" type="password">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-3">
			<input name="uname" class="form-control" placeholder="姓名" type="text">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-3">
			<input name="email" class="form-control" placeholder="邮箱" type="text">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-3">
			<input name="phone" class="form-control" placeholder="手机号码" type="text">	
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<div class="col-sm-4">
			<button id="send_button_<!--{tab}-->" class="btn btn-outline btn-default">点击注册</button>
		</div>
	</div>
	
	
</div>

<script>
	$(function(){
		$('#send_button_<!--{tab}-->').bind("click", function(){
			var data = new Object();
			var reqData = new Object();
			var req = getReqJson('<!--{tab}-->');
			
			reqData['data'] = new Object();
			reqData['data']['req'] = req;
			
			doAjax('<!--{ajaxMorris}-->', reqData, 'callback_<!--{tab}-->');
		});
	});
	
	
	function callback_<!--{tab}-->(data){
		alert(data);
	}
	
	$(function(){
		selectCheck('agent_type_<!--{tab}-->', 3, 'creatInput');
	});
	
	function creatInput(tab){
		if (tab == 0) {
			$('#agent_type_div_<!--{tab}-->').after('<div id="agent_father_div_<!--{tab}-->"><br/><div class="row"><div class="col-sm-3"><input class="form-control" placeholder="所属二级渠道" name="father_agent_id" type="text"></div></div></div>')
		} else {
			if (hasDom('agent_father_div_<!--{tab}-->')) {
				$('#agent_father_div_<!--{tab}-->').remove();
			}
			
		}
	}
	
	function hasDom(id){
		obj = document.getElementById(id);
		return obj != null ? true : false
	}
	
	function selectCheck(id, val, fun){
		var id = $('#' + id);
		id.change(function(){
			var checkVal = id.val();
			if (checkVal >= val) {
				eval(fun + "(0)");
			} else {
				eval(fun + "(1)");
			}
		});
	}
</script>