<div class="tab-pane fade active in" id="<!--{tab}-->" style="margin-top: 10px;">
	<div class="row" id="<!--{tab}-->_row_search">
		<div class="col-sm-2">
			<select name="gid" class="form-control">
				<option selected="selected" value="44">德州扑克</option>
				<option value="100">斗地主</option>
			</select>
		</div>
		<div class="col-sm-2">
			<button onclick="<!--{tab}-->_ajaxData()" type="button"
				class="btn btn-outline btn-default">查询</button>
		</div>
	</div>

	<hr/>

	<div class="row" id="<!--{tab}-->_row_body">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<table id="<!--{tableId}-->"
							class="display table table-striped table-bordered table-hover dataTable no-footer">
							<thead>
								<tr>
									<th>序列</th>
									<th>乐豆区间</th>
									<th>所有用户数</th>
									<th>比例</th>
									<th>近7天有用户登录数</th>
									<th>比例</th>
									<th>近1个月有用户登录数</th>
									<th>比例</th>
									<th>近3个月用户登陆数</th>
									<th>比例</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
		<script>
				var <!--{tableId}--> = $("#<!--{tableId}-->").DataTable({
					"sDom": 'lfr<"a"T>tip',
					"oTableTools": {
						"sSwfPath": "http://119.28.19.213:8004/copy_csv_xls_pdf.swf",
						"aButtons": [
							{"sExtends":"xls","sButtonText":"数据导出"}
						]
					},
					"order" : [ [ 0, "asc" ] ],
					"displayLength": 25,
					ajax : {
						'url':"<!--{ajaxTable}-->",
						'type':'POST',
						'data':function(d){
							d.extra_search =[
								{
									'req':getReqJson('<!--{tab}-->_row_search')
								}
							];
						},
					},
					columns:[{"data":"id","defaultContent":"NULL", "visible": false},{"data":"section","defaultContent":"NULL"},{"data":"quantity1","defaultContent":"NULL"},{"data":"ratio1","defaultContent":"NULL"},{"data":"quantity2","defaultContent":"NULL"},{"data":"ratio2","defaultContent":"NULL"},{"data":"quantity3","defaultContent":"NULL"},{"data":"ratio3","defaultContent":"NULL"},{"data":"quantity4","defaultContent":"NULL"},{"data":"ratio4","defaultContent":"NULL"}],
					
				});
				
				function <!--{tab}-->_ajaxData(){
					<!--{tableId}-->.ajax.reload();
				};
				</script>
	